.styles {
    /* Colors */
    --grey-0: #FFFFFF;
    --grey-1: #F2F2F2;
    --grey-2: #EBEBEB;
    --grey-3: #767676;
    --grey-4: #494949;

    --green-1: #B3D9DA;
    --green-2: #008689;
    --green-3: #006C6F;

    --pink-1: #FF9E9F;
    --pink-2: #FE5A61;
    --pink-3: #EF585D;

    --violet-1: #F4D4E3;
    --violet-2: #A41D55;
    --violet-3: #8C1845;

    --yellow-3: #FFB401;

    --orange-3: #D93801;

    /* spacing */
    --space-micro: 4px;
    --space-tiny: 8px;
    --space-small: 16px;
    --space-standard: 24px;
    --space-semi: 32px;
    --psace-large: 48px;
    --spaxe-xlarge: 64px;

    /* Shadows */
    --elevation-0: 0 0 0 transparent;
    --elevation-1: 0 2 4 rgba(0, 0, 0, 0.4);
    --elevation-2: 0 4 8 rgba(0, 0, 0, 0.4);
    --elevation-3: 0 6 12 rgba(0, 0, 0, 0.4);
    --elevation-4: 0 8 16 rgba(0, 0, 0, 0.4);

    /* Border radius */
    --border-0: 0;
    --border-1: 4px;
    --border-2: 6px;
    --border-3: 8px;
    --border-4: 12px;
    --border-circle: 50%;
}

/* Clear some default styles */
